@page
@model Twil.Pages.SendSMSModel
@{
}


<form method="post" asp-page-handler="SendSms">
    <button type="submit" class="btn btn-primary">Send SMS</button>
</form>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">@TempData["Message"]</div>
}